version: "3.9"

services:
  api-gateway:
    env_file: ./.env
    build: ./api-gateway
    ports:
      - "${API_PORT}:${API_PORT}"
    depends_on:
      - python
      - savedata
      - matlab
      - routerstrategy
    networks:
      - apinetwork

  python:
    env_file: ./.env
    build: ./pythoncalls
    container_name: python
    ports:
      - "${PYTHON}:${PYTHON}"
    volumes:
      - ./pythoncalls:/app
    networks:
      - apinetwork
    depends_on:
      - savedata

  savedata:
    env_file: ./.env
    build: ./savedata
    container_name: savedata
    ports:
      - "${SAVED_DATA}:${SAVED_DATA}"
    volumes:
      - ./savedata:/app
    networks:
      - apinetwork

  matlab:
    env_file: ./.env
    build: ./matlab
    container_name: matlab
    ports:
      - "${MATLAB}:${MATLAB}"
    volumes:
      - ./matlab:/app
    networks:
      - apinetwork

  routerstrategy:
    env_file: ./.env
    build: ./router-strategy
    container_name: routerstrategy
    ports:
      - "8502:8502"
    depends_on:
      - matlab
      - python
      - savedata
    networks:
      - apinetwork

networks:
  apinetwork:
    driver: bridge
