@import "tailwindcss";
.sideMenuSlide-enter {
  transform: translateX(100%);
  opacity: 0;
}
.sideMenuSlide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 150ms ease-in-out;
}

.sideMenuSlide-exit {
  transform: translateX(0);
  opacity: 1;
}
.sideMenuSlide-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 150ms ease-in-out;
}